@use 'variables';

.nav {
  position: absolute;
  top: 0;
  right: 0;
  width: 240px;
  height: 360px;
  overflow: hidden;

  @media screen and (min-width: variables.$desktop-medium) {
    position: static;
    width: auto;
    height: auto;
  }

  &__links ul {
    @media screen and (min-width: variables.$desktop-medium) {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 16px;
    }

    a {
      color: white;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      @media screen and (min-width: variables.$desktop-medium) {
        color: variables.$company-color;

        &:hover {
          color: #f86f6a;
        }
      }
    }
  }
}

.logo {
  display: flex;
  align-items: center;

  &__image {
    margin-right: 10px;
    max-width: 80px;
  }

  &__text {
    font-weight: 400;
    margin: 0;

    @media screen and (max-width: variables.$desktop-small) {
      display: none;
    }
  }
}
