@use 'variables';

.splide {
  &__slide {
		max-height: 800px;
		overflow: hidden;

    img {
      width: 100%;

      @media screen and (max-width: variables.$mobile) {
        width: 768px;
        margin-left: -190px;
      }
    }
  }
}
